<!DOCTYPE html>
<html>
<head>
    <%- include('partials/head') %>
    <%- include('partials/header') %>
</head>
<body>
    <h1>New Client Page</h1>
    <form action="/clients" method="POST">
        Name: <input type="text" name="name" /><br />
        Goal: <input type="text" name="goal" /><br />
        Sessions: <input type="number" name="sessions" /><br />
        Paid: <input type="text" name="payment" /><br />
        <input type="submit" value="Add Client" />
    </form>
</body>

</html>